/* #container {
  padding: 0;
} */
.hero-section {
  background-image: url(../images/Hero\ Section.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 382px;
}
.title-aboutus {
  text-align: center;
  position: relative;
  top: 176px;
}
.title-aboutus h2 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}
.title-aboutus p {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.4px;
  padding: 16px 30px;
}
.academy-section {
  background-image: url(../images/Clip\ path\ group.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
}
.about {
  display: inline-flex;
  padding: 64px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
#about {
  padding: 40px 0;
}
img.jason-goodman {
  width: 100%;
}
.about button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  color: #757879;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  background-color: unset;
  border: unset;
  transition: 0.1s;
}
.content-services {
  gap: 0 !important;
  background-color: var(--background-color);
  padding: 24px 24px 24px 0px;
}
.about button.active {
  background: rgba(11, 57, 84, 0.16);
  color: var(--color);
}
.about button:focus-visible {
  outline: none;
}
.about button:hover {
  background: rgba(11, 57, 84, 0.16);
  color: var(--color);
}
.content {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--background-color);
}
.text-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.text-content h4 {
  color: var(--color-b);
  font-family: var(--color);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}
.text-content p {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
  width: 484px;
  margin-bottom: 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}
.modal-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  padding: 52px 16px 48px 16px;
  border-radius: 5px;
  border-radius: 5px;
}
.title-filter-modal {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 32px 0;
  align-items: center;
}
.title-filter-modal h4 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}
.title-filter-modal i.fa-solid.fa-xmark {
  position: unset;
}
.filterModal {
  display: none;
}
button#filterButton {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: rgba(11, 57, 84, 0.16);
  border: none;
  display: none;
  margin-right: auto;
}
#filterButton span {
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
}
#philosophy-about {
  flex-direction: row-reverse;
  gap: 24px !important;
}
.offer {
  padding: 40px 0;
}
.col-md-4.col-sm-4.col-6 {
  padding: 0;
}
button#filterButton {
  background-color: unset !important;
  padding: 8px !important;
}
#filterButton span {
  color: #454b4f !important;
}
#content {
  gap: 0 !important;
}
#content-offer {
  display: block !important;
}
#text-offer {
  padding-bottom: 24px;
}
.group-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.group-one span {
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 32px;
  padding: 16px 0 8px 0;
  font-size: 22px;
}
.group-one button {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: 0.5s;
  background-color: #fff !important;
}
@keyframes example {
  from {
    background-color: var(--color-one);
  }
  to {
    background-color: #e1e4e6;
  }
}
.group-one button {
  background-color: #e1e4e6;
  animation-name: example;
  animation-duration: 100ms;
}
.group-one button {
  animation: example 100ms;
}
.group-one button:hover {
  background-color: #e1e4e6 !important;
  color: var(--color);
  border-color: var(--color-grey);
}
.group-one button:active {
  color: var(--color);
  background-color: #e1e4e6;
  border-color: unset;
}
.group-one button:focus-visible {
  background-color: #e1e4e6;
  border-color: unset;
  box-shadow: unset;
}
.group-one img {
  width: 140px;
}
#add-padd {
  padding: 24px 0;
}
.paragraph-offer {
  color: var(--color-one);
  font-family: var(--font-family);
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}
@media (max-width: 772px) {
  .group-one span {
    font-size: 21px;
  }
}
.activities-content {
  padding: 64px 3px 64px 0;
}
.activities-section {
  padding: 24px;
  background-color: #d1eaf9;
  border-radius: 16px;
}
#activities-text h4 {
  padding-bottom: 24px;
}
.group-activities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}
.group-activities span {
  padding: 8px 16px;
  border-left: 5px solid var(--color);
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.group-activities p {
  color: var(--color-one);
  padding: 0 16px;
  font-family: var(--font-family);
  margin-bottom: 0;
  letter-spacing: 0.4px;
}
.activities-section div.row {
  padding-left: 10px !important;
}
#add-padd-one {
  padding-bottom: 24px;
}
.col-md-9 {
  padding: 0;
}
/* Teachers */
.teachers-section {
  border-radius: 16px;
  background-color: var(--background-color);
  /* padding-left: 10px; */
}
.teachers-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: var(--background-color);
  width: 288px;
}
.teachers-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.teachers-title span {
  color: var(--color-b);
  text-align: center;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.teachers-title small {
  color: var(--color-one);
  text-align: center;
  font-family: var(--font-family);
  line-height: 24px;
  letter-spacing: 0.4px;
}
.teachers-activities p {
  color: var(--color-one);
  font-family: var(--font-family);
  line-height: 24px;
  letter-spacing: 0.4px;
  padding: 0px 16px;
  margin: 0;
}
.collapsed-text {
  max-height: 142px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.expanded {
  max-height: none;
}

.read-more {
  margin-right: auto;
  padding: 8px 16px;
}
.teachers-activities a {
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.img-activites {
  position: relative;
  z-index: 1;
}
.img-activites .img-two {
  display: none;
}
.img-activites:hover .img-one {
  display: none;
}
.img-activites:hover .img-two {
  display: block;
}
.img-activites::after {
  content: "";
  position: absolute;
  top: 130px;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--color);
  border-radius: 16px;
  height: 90px;
  z-index: -1;
}
.img-icon {
  position: relative;
}
.img-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 135px;
  right: 8px;
  z-index: 2;
}
.img-icons a {
  padding: 8px;
  width: 40px;
  height: 40px;
}
/* arabic-levels-section */
.all-arabic-levels {
  padding: 64px 40px 64px 0;
}
.arabic-levels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 24px;
}
.group-arabic-levels {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background: #d1eaf9;
  height: 100%;
}
.group-arabic-levels span {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  padding: 8px 16px;
  border-left: 5px solid var(--color);
}
.group-arabic-levels p {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0px 16px;
}
.row-arabic-levels {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 767px) {
  .all-arabic-levels {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #activities-text h4 {
    padding-bottom: 0;
  }
  #row-arabic-levels {
    gap: 24px;
  }
}
@media (max-width: 575px) {
  .all-arabic-levels {
    padding: 48px 0;
  }
}

/* facilities */
.facilities {
  display: flex;
  padding: 40px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.facilities-content,
.work-with-us-content {
  padding: 24px 24px 24px 0;
  align-self: stretch;
  border-radius: 16px;
  background: var(--background-color);
}
.facilities-text-content h4,
.testimonials-text-content h4,
.work-with-us-text-content h4 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 0;
  padding-bottom: 24px;
}
.facilities-text-content p,
.work-with-us-text-content p {
  color: var(--color-b);
  font-family: var(--font-family);
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 0;
  padding-bottom: 24px;
}
.image-facilities {
  height: 100%;
  width: 100%;
}
.row-facilities {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (max-width: 767px) {
  .facilities {
    padding: 48px 0;
    gap: 24px;
  }
  .row-facilities div {
    gap: 32px;
  }
}
@media (max-width: 575px) {
  .facilities-content {
    padding: 0;
  }
  .row-facilities div {
    padding: 0;
  }
}
/* testimonials */
.testimonials {
  padding: 40px 0 40px 20px;
}
.testimonials-content {
  padding: 24px;
  border-radius: 16px;
  background: var(--background-color);
}
.testimonials-section-content {
  position: relative;
}
.img-item-about {
  width: 72px !important;
  margin: auto;
  border: 1px solid var(--color);
  border-radius: 72px;
  padding: 6px;
}
.item {
  display: flex;
  flex-direction: row-reverse;
  gap: 52px;
  align-items: flex-start;
  justify-content: start;
}
.item video {
  border-radius: 16px;
}
.overlay-one {
  position: absolute;
  top: 0;
  right: 0;
  width: 755px;
  height: 424px;
  background-color: #000;
  border-radius: 16px;
}
.img-carousel {
  padding-left: 16px;
  margin: auto 0;
  text-align: center;
  width: 133px;
}
.owl-nav {
  display: none !important;
}
i.fa-regular.fa-circle-play {
  font-size: 36px;
  position: absolute;
  left: 50%;
  color: var(--color-white);
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  padding: 12px;
  border-radius: 12px;
  background: var(--color);
}
i.fa-regular.fa-circle-play {
  transition: transform 0.3s ease;
  transform-origin: center;
}

i.fa-regular.fa-circle-play:hover {
  transform: scale(0.8);
}

.slider-counter {
  position: absolute;
  left: 48px;
  top: 304px;
}
#item {
  display: block;
}
img.down {
  right: 24px;
  top: 225px;
}
.slider-counter {
  left: 46px;
  top: 294px;
}
.owl-nav-one {
  position: absolute;
  bottom: 105px;
  left: 5px;
}
.owl-nav-one button,
.owl-nav-two button {
  background: unset;
  border: unset;
}
.owl-nav-one button.owl-next {
  padding: 0;
  left: 67px;
}
.owl-nav-one button.owl-prev {
  padding: 0;
  left: 5px;
}
.owl-nav-two {
  padding-top: 24px;
}
#slider-counter {
  position: absolute;
  left: 47%;
  top: 442px;
}

@media (max-width: 1400px) {
  .item {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }
  .about button {
    padding: 12px 16px;
  }
  .img-carousel {
    margin: auto;
  }
  .item video,
  .overlay-one {
    width: 100%;
  }
  .slider-counter {
    bottom: 7px;
    top: unset;
    left: 47.5%;
  }
  .testimonials {
    padding: 48px 0;
  }
  .modal-content {
    padding: 40px 300px;
  }
  .title-filter-modal {
    padding: 55px 0 32px 0 !important;
  }

  .owl-nav-one {
    position: relative;
    bottom: 0;
    left: 43%;
  }
}
@media (max-width: 1200px) {
  div#about-desktop-tes {
    display: none;
  }
  button.filterButton {
    display: block !important;
  }
  .modal-content {
    top: 54%;
  }
}
@media (max-width: 769px) {
  .owl-nav-one {
    left: 41%;
  }
  .slider-counter {
    left: 47%;
  }
  #slider-counter {
    left: 46%;
    top: 440px;
  }
  img.down {
    top: unset;
  }
  .testimonials {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-width: 575px) {
  .testimonials-content {
    background-color: transparent;
  }
  .owl-nav-one {
    left: 37%;
  }
  .slider-counter {
    left: 45%;
  }
  .testimonials-content {
    padding: 0;
  }

  #slider-counter {
    left: 45%;
    top: 512px;
  }
  .work-with-us {
    gap: 24px !important;
    padding: 48px 0 !important;
  }

  .work-with-us-content {
    padding: 0;
  }
  .facilities-text-content h4,
  .testimonials-text-content h4,
  .work-with-us-text-content h4 {
    font-size: 32px;
  }
}

@media (max-width: 426px) {
  .owl-nav-one {
    left: 35%;
  }
  /* .slider-counter {
    left: 45%;
  } */
  #slider-counter {
    left: 43%;
    top: 560px;
  }
}
@media (max-width: 376px) {
  .owl-nav-one {
    left: 31%;
  }
  #slider-counter {
    left: 42%;
    top: 608px;
  }
  .slider-counter {
    left: 44%;
  }
}
@media (max-width: 321px) {
  .owl-nav-one {
    left: 25%;
  }
  .slider-counter {
    left: 40.5%;
  }
  #slider-counter {
    left: 40%;
    top: 680px;
  }
}
/* Work With Us */
.work-with-us {
  padding: 40px 0px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.work-with-us-text-content h6 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 24px;
  margin: 0;
}
.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.file-input-container input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}
.custom-button {
  border-radius: 8px;
  background: var(--color);
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 8px 16px;
}
.upload-file {
  border: 1px solid var(--color-grey);
  align-items: center;
  padding: 4px 4px 4px 16px;
  height: 48px;
  position: relative;
  align-items: center;
  border-radius: 8px;
  background-color: var(--color-white);
}
label.form-label {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input#mobile {
  width: 470px;
}
.form-control,
.form-select,
input#mobile {
  padding: 8px 0px 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  height: 48px;
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.submit.text-end {
  padding: 0 !important;
}
.iti--show-selected-dial-code .iti__selected-flag {
  background-color: transparent;
}
textarea#messgae {
  height: auto;
  margin-bottom: 16px;
}
span.maximum {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  padding: 4px 16px 0px 16px;
}
.submit button {
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--color);
  color: var(--color-one);
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
  border: none;
}
.submit button:hover,
.custom-button:hover {
  background-color: var(--color);
  box-shadow: 0px 0px 15px 1px rgba(8, 43, 63, 0.5);
}
.submit button:focus-visible,
.custom-button:focus-visible {
  outline: unset;
}
.form-select:focus {
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}
.form-control:focus-visible,
.form-select:focus-visible,
input#mobile:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: var(--color-grey);
}
@media (max-width: 1400px) {
  .forminput {
    width: auto;
  }
  input#mobile {
    width: 402.5px;
  }
}
@media (max-width: 1200px) {
  input#mobile {
    width: 335px;
  }
}
@media (max-width: 992px) {
  input#mobile {
    width: 312.5px;
  }
}
@media (max-width: 768px) {
  .work-with-us {
    gap: 40px;
  }
  #row-work {
    gap: 16px;
  }
}
@media (max-width: 575px) {
  .work-with-us {
    gap: 24px;
  }
  #col-work {
    padding: 0;
  }
}

.link-of-interest {
  padding: 8px 8px 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.link-of-interest span {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.link-of-interest button {
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--color);
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
  border: none;
  margin-left: auto;
}
.link-of-interest:hover {
  background: rgba(11, 57, 84, 0.12);
}
@media (max-width: 1400px) {
  .text-content p {
    width: 415px;
  }
}
@media (max-width: 1200px) {
  img.jason-goodman {
    width: auto;
  }
  .text-content p {
    width: auto;
  }
  .content-services {
    gap: 24px !important;
  }
  .academy-section {
    padding: 0 16px;
  }
  #philosophy-about {
    flex-direction: column;
  }
}
@media (max-width: 1030px) {
  .col-md-3 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  #container {
    max-width: 900px !important;
  }
  .content {
    flex-direction: column;
  }
  .text-content p {
    width: 100%;
  }

  #size {
    display: none;
  }
  #size-one {
    display: block !important;
  }
  .about button {
    padding: 12px;
  }
  .group-one span {
    font-size: 20px !important;
  }
  .group-one button {
    padding: 12px 16px !important;
  }
}
@media (max-width: 796px) {
  .about button {
    padding: 10px;
  }
  .modal-content {
    padding: 52px 100px 48px 100px !important;
  }
  .img-activites img {
    width: 260px;
  }
  .img-activites::after {
    height: 69px;
  }
  .img-icons {
    top: 129px;
  }
  .img-icons a {
    height: 33px;
  }
}
@media (max-width: 767px) {
  #about-desktop {
    display: none;
  }
  .content-services {
    flex-direction: column !important;
  }
  .about {
    gap: 24px;
    align-items: center;
    padding: 0;
  }
  .modal-content {
    padding: 52px 75px 48px 75px !important;
  }
  .activities {
    padding: 48px 0;
  }
  .activities-content {
    padding: 24px 0px 0px 0px !important;
  }
  #add-padd-one {
    padding-bottom: 0;
  }
  .group-activities {
    padding-bottom: 24px;
  }
  .img-activites img {
    width: auto;
  }
  .img-activites::after {
    height: 90px;
  }
  .img-icons {
    top: 135px;
  }
  .img-icons a {
    height: 40px;
  }
}
@media (max-width: 575px) {
  .academy-section {
    background-image: none;
  }
  .modal-content {
    padding: 52px 16px 48px 16px !important;
  }
  button#filterButton {
    display: flex;
    width: max-content;
    margin-right: auto;
  }
  #about {
    padding: 48px 0;
  }
  img.jason-goodman {
    width: 100%;
  }
  .hero-section {
    height: 450px !important;
  }
  .text-content h4 {
    font-size: 32px !important;
  }
  .desktop-offer {
    display: none;
  }
  .mobile-offer.d-none {
    display: flex !important;
    flex-direction: column;
    gap: 24px;
  }
  .content {
    padding: 0;
  }
  .offer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .col-6 {
    padding: 0;
  }
  .group-one {
    width: 90%;
  }
  .paragraph-offer {
    padding-top: 24px;
  }
  .group-activities {
    padding-bottom: 0;
  }
  .activities-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  #add-padd-one {
    padding-bottom: 0 !important;
    display: flex;
    gap: 24px;
  }
  .activities-section div.row {
    display: flex;
    gap: 24px;
  }
}
@media (max-width: 376px) {
  .group-one {
    width: auto;
  }
}
@media (max-width: 343px) {
  .group-one span {
    font-size: 17px !important;
    line-height: 27px;
  }
  .group-one button {
    padding: 12px !important;
  }
  div#container {
    padding: 0;
  }
}
