.academy-section {
  background-position: top left;
  background-attachment: fixed;
}
.title-ourblog {
  text-align: center;
  position: relative;
  top: 165px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title-ourblog h2 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 52px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}
.title-ourblog span {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.quote {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
}
.quote h6 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}
.quote span {
  color: 454b4f;
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.title-element h4 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}
.tags {
  padding: 64px 40px 64px 100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tags span {
  color: #000;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}
.button-tags {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.button-tags-one,
.button-tags-three {
  display: flex;
  gap: 8px;
}
.button-tags button {
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  background: var(--background-color);
  padding: 8px 10px;
  color: var(--color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.button-one,
.button-two {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* Blog Details */
.hero-section-blog {
  background-image: url(../images/blog.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 625px;
}
.ourblog-details {
  position: relative;
  top: 192px;
  /* left: 275px; */
  width: 964px;
  margin: auto;
}
.ourblog-details h2 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 52px;
  font-weight: 700;
  margin: 0;
  line-height: 78px;
}
.title-ourblog-details {
  display: flex;
  gap: 24px;
  align-items: center;
}
.title-ourblog-details h6 {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}
.title-ourblog-details span {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.content-blog {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.item p {
  width: auto;
  padding: 0;
  text-align: left;
}
.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-carousel-one {
  position: relative;
  bottom: 15.5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.img-content-blog {
  width: 100%;
}
.owl-item.active {
  margin-right: 0;
}
.section-carousel {
  background-image: url(../images/Clip\ path\ group.png);
  background-repeat: no-repeat;
  background-position: left top;
  height: 1782px;
  background-attachment: fixed;
}
.custom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 964px;
  padding: 16px 0;
  border-top: 1px solid var(--color-grey);
  border-bottom: 1px solid var(--color-grey);
}
.card {
  background-color: transparent;
}
button.custom-prev-btn,
button.custom-next-btn {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color);
}
button.custom-prev-btn span,
button.custom-next-btn span {
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.title-blog h5 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}
.blog-section {
  padding: 64px 0;
}
section.section-group-courses-one {
  padding: 64px 0;
}
section.section-group-courses-one h5 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  padding-bottom: 24px;
}
div#card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 64px 100px 0 64px;
}
.publications h4 {
  margin: 0;
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.img-blog img {
  width: 100%;
}
.content-our-blog {
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}
.title-our-blog {
  width: max-content;
}
.title-our-blog h5 {
  margin: 0;
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  border-bottom: 2px solid transparent;
}
.content-our-blog:hover .title-our-blog {
  color: var(--color);
  border-bottom: 2px solid var(--color);
}
.offer-blog {
  display: flex;
  gap: 24px;
  align-items: center;
}
.offer-blog span {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
}
.offer-blog small {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.text-content-blog P {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  margin: 0;
}
.pagination {
  justify-content: center;
  padding: 64px 100px 64px 64px;
  margin: 0;
}
.pagination li {
  margin: 0 4px;
  cursor: pointer;
  padding: 8px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-b);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}
.pagination li.active,
.pagination li:hover {
  background-color: var(--color);
  color: var(--color-white);
  border-color: var(--color);
}
.pagination li:hover i.fa-solid.fa-chevron-left,
.pagination li:hover i.fa-solid.fa-chevron-right {
  color: var(--color-white);
}
i.fa-solid.fa-chevron-right,
i.fa-solid.fa-chevron-left {
  font-size: 14px;
  color: var(--color-b);
  display: block;
  padding: 0px;
}
button.custom-prev-btn:hover,
button.custom-next-btn:hover {
  background-color: #e1e4e6;
}
button.owl-next i.fa-solid.fa-chevron-right,
button.owl-prev i.fa-solid.fa-chevron-left {
  font-size: 24px;
}
@media (max-width: 1405px) {
  .button-tags-one,
  .button-tags-three {
    flex-direction: column;
  }
  .button-tags button {
    width: 80%;
  }
  .button-tags-two,
  .button-tags-four {
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .tags {
    padding: 64px 35px 64px 35px;
  }
  .item {
    width: auto;
  }
}
@media (max-width: 1100px) {
  .tags {
    padding: 64px 0px 64px 15px;
  }
}
@media (max-width: 992px) {
  .section-carousel {
    height: 1882px;
  }
  .ourblog-details {
    width: max-content;
    margin: unset;
  }
  .custom-nav {
    margin: auto 0;
    width: auto;
  }
}
@media (max-width: 768px) {
  div#card-container {
    padding: 64px 30px 0 30px;
  }

  .tags span {
    text-align: left;
  }
  .tags {
    flex-direction: column;
    padding: 64px 0px 0 15px;
  }
}
@media (max-width: 767px) {
  .section-carousel {
    height: 2258px;
  }
  .button-one,
  .button-two,
  .button-tags-one,
  .button-tags-three {
    flex-direction: row;
  }
  .button-tags button {
    width: auto;
  }
}
@media (max-width: 575px) {
  .hero-section {
    background-image: url(../images/services\ mobile.png);
  }
  .tags {
    padding: 48px 0;
  }
  div#card-container {
    padding: 48px 16px 0 16px;
  }
  div#card-container {
    gap: 64px;
  }
  .pagination {
    padding: 64px 16px 48px 16px;
  }
  .title-element h4 {
    font-size: 32px;
  }
  #footer-section-one {
    padding: 0 16px;
  }
  .hero-section-blog {
    background-image: url(../images/Hero\ Section\ contact.png);
    height: 515px;
  }
  .section-carousel {
    background-image: none;
    height: 2613px;
  }
  .ourblog-details {
    width: auto;
  }
  .ourblog-details {
    top: 180px;
  }
  .section-carousel-one {
    bottom: 7.5rem;
    padding: 0 16px;
  }
  .title-ourblog-details {
    justify-content: center;
  }
  .blog-section,
  section.section-group-courses-one {
    height: auto;
    padding: 48px 0;
  }
  #custom-nav-desktop {
    display: none;
  }
  #custom-nav-mobile {
    display: flex !important;
  }
}
@media (max-width: 500px) {
  .section-carousel {
    height: 2820px;
  }
}
@media (max-width: 448px) {
  .section-carousel {
    height: 3027px;
  }
}
@media (max-width: 406px) {
  .section-carousel {
    height: 3243px;
  }
  #custom-nav-mobile {
    gap: 10px;
  }
}
@media (max-width: 396px) {
  .section-carousel {
    height: 3477px;
  }
}
@media (max-width: 370px) {
  .section-carousel {
    height: 3703px;
  }
}
@media (max-width: 352px) {
  .section-carousel {
    height: 3933px;
  }
}
@media (max-width: 328px) {
  .section-carousel {
    height: 4158px;
  }
}
@media (max-width: 375px) {
  .pagination li {
    width: 23px;
    height: 32px;
  }
}
