nav#navbar-navigation {
  position: unset;
}
.home {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  margin-bottom: 40px;
}
.home a {
  padding: 8px 0px;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.home a:hover {
  font-size: 16px;
}
.home i.fa-solid.fa-chevron-right {
  display: inline;
  font-size: 16px;
  color: var(--color-one);
}

.title-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.col-md-4 {
  padding-right: 24px;
  border-right: 1px solid var(--color-grey);
}
.pages-filter {
  display: flex;
  gap: 10px;
}
.title-filter h4 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}
.pages-filter span {
  color: var(--color-b);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.courses-list {
  padding-bottom: 64px;
}
.accordion-item {
  border-radius: 8px !important;
  border: 1px solid var(--color-grey) !important;
  box-shadow: unset !important;
  margin-bottom: 24px;
  background-color: var(--background-color);
}
.accordion-button:not(.collapsed) {
  box-shadow: unset;
  border-bottom: 1px solid var(--color-grey);
}
.accordion-button:focus {
  box-shadow: unset;
}
.accordion-button:focus-visible {
  outline: unset;
}
.accordion-body.two {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.accordion-button {
  color: var(--color-b) !important;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  padding: 12px 16px !important;
  background-color: unset !important;
  border-radius: 8px 8px 0px 0px !important;
}
.accordion-body {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.course-one-page,
.online-course,
.hybrid-one {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  background: var(--background-color);
  width: max-content;
  padding: 8px 10px;
  cursor: pointer;
}
.course-one-page:hover,
.online-course:hover,
.hybrid-one:hover {
  background-color: var(--color);
  border-color: var(--color);
}
.course-one-page:hover.course-one-page span,
.online-course:hover.online-course span,
.hybrid-one:hover.hybrid-one span {
  color: var(--color-white);
}
.course-one-page:hover.course-one-page small,
.online-course:hover.online-course small,
.hybrid-one:hover.hybrid-one small {
  color: var(--color-white);
}
.course-one-page span,
.online-course span,
.hybrid-one span {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  transition: 0.3s;
}
.course-one-page small,
.online-course small,
.hybrid-one small {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}

label.form-check-label {
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.form-check small {
  margin-left: auto;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  position: absolute;
  right: 0;
}
#accordion-check,
#form-check {
  padding: 12px 16px 12px 5px;
}
.form-check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
}
#form-check {
  gap: 8px;
}
input[type="checkbox"] {
  border-color: var(--color-one);
  margin-top: 0;
  border-radius: 6px !important;
  position: absolute;
  left: 37px;
}
.form-check-input:focus {
  border-color: var(--color-one);
  outline: 0;
  box-shadow: unset;
}
.input-day {
  border-radius: 100px;
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.form-check:hover .input-day {
  background: rgba(11, 57, 84, 0.08);
}
.accordion-header:hover {
  background: rgba(11, 57, 84, 0.08);
  transition: 0.3s;
}
.input-day:focus-visible,
.form-check:focus-visible {
  outline: none;
}
.online-course.active,
.course-one-page.active,
.hybrid-one.active {
  background: var(--color);
  border-color: var(--color);
}
.online-course.active span,
.course-one-page.active span,
.hybrid-one.active span {
  color: var(--color-white);
}
.online-course.active small,
.course-one-page.active small,
.hybrid-one.active small {
  color: var(--color-white);
}
.price-input-container {
  width: 100%;
}
.price-input .price-field {
  display: flex;
  flex-direction: column;
}
.price-icon {
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  padding: 4px 0px 4px 16px;
}
.price-icon img {
  padding: 8px;
}
.price-field span {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 8px;
}
.price-field input {
  border: none;
  width: 100%;
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  padding: 0;
}
.price-input {
  width: 100%;
  font-size: 19px;
  color: #555;
  padding-top: 22px;
  display: flex;
  gap: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-check-input {
  cursor: pointer;
}
.form-check-input:checked {
  background-color: var(--color);
  border-color: unset;
}
.form-check-input:checked .form-check-input:focus {
  border-color: unset;
  box-shadow: unset;
}
.slider-container {
  width: 100%;
}
.slider-container {
  height: 6px;
  position: relative;
  background: #d1eaf9;
  border-radius: 5px;
}
.slider-container .price-slider {
  height: 100%;
  left: 25%;
  right: 15%;
  position: absolute;
  border-radius: 5px;
  background: var(--color);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -5px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: var(--color);
  pointer-events: auto;
  -webkit-appearance: none;
}
.col-md-3 {
  padding: 0 24px 0 0;
  border-right: 1px solid var(--color-grey);
}
.col-md-9 {
  padding: 0 0 0 40px;
}
.card {
  margin: 0;
  cursor: pointer;
}
.card-body {
  padding: 16px 0 0 0;
  cursor: pointer;
}
.pagination {
  justify-content: center;
  padding-top: 4px;
  margin: 0;
}
.pagination li {
  margin: 0 4px;
  cursor: pointer;
  padding: 8px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-b);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
  transition: 0.3s;
}
.pagination li.active,
.pagination li:hover {
  background-color: var(--color);
  color: var(--color-white);
  border-color: var(--color);
}
.pagination li:hover i.fa-solid.fa-chevron-left,
.pagination li:hover i.fa-solid.fa-chevron-right {
  color: var(--color-white);
}
i.fa-solid.fa-chevron-right,
i.fa-solid.fa-chevron-left {
  font-size: 14px;
  color: var(--color-b);
  display: block;
  padding: 0px;
}
button#filterButton {
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  padding: 12px 24px;
  display: flex;
  gap: 8px;
  background-color: transparent;
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.modal-content {
  position: absolute;
  top: 128%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px 75px 32px 75px;

  border-radius: 5px;
}
.title-filter-modal {
  display: flex;
  justify-content: space-between;
  padding: 0 0 32px 0;
  align-items: center;
}
.title-filter-modal h4 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}
.title-filter-modal i.fa-solid.fa-xmark {
  position: unset;
}
#view-course {
  display: none;
  border-radius: 8px;
  background: var(--color);
  padding: 12px 24px;
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 600;
  border: none;
  letter-spacing: 0.4px;
}
#view-course:hover {
  background-color: var(--color);
  box-shadow: 0px 0px 15px 1px rgba(8, 43, 63, 0.5);
}
#view-course:active {
  background-color: var(--color) !important;
  border-color: unset;
}
#view-course:focus-visible {
  background-color: var(--color);
  border-color: unset;
  outline: 0;
  box-shadow: 0px 0px 15px 1px rgba(8, 43, 63, 0.5);
}
.card-four {
  width: 100%;
}
span.descuento {
  width: 150.747px;
  top: 26px;
  right: -37px;
}
@media screen and (max-width: 1200px) {
  .accordion-body.two {
    flex-direction: column;
  }
  .course-one-page,
  .online-course,
  .hybrid-one {
    width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1100px) {
  .price-field input {
    font-size: 15px;
  }
  .price-icon img {
    padding: 6px;
  }
}
@media screen and (max-width: 992px) {
  span.descuento {
    font-size: 11px;
    right: -38px;
  }
}

@media screen and (max-width: 767px) {
  .title-filter h4 {
    display: none;
  }
  button#filterButton {
    display: block;
  }
  .accordion-body.two {
    flex-direction: row;
  }
  #accordionone-desktop {
    display: none;
  }
  #accordionContainer {
    display: block;
  }
  button.btn.btn-primary {
    display: block !important;
  }
  .price-field input {
    font-size: inherit;
  }
  .content {
    padding-left: 0;
  }
  .title-filter {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 24px;
  }
  .projtitle {
    width: 100%;
    position: relative;
    right: 26px;
  }

  .price-input {
    flex-direction: column;
    align-items: center;
  }

  .price-field {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 575px) {
  .modal-content {
    padding: 100px 16px 32px 16px;
  }
  .col-lg-4.col-md-6.card-blog {
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .accordion-body.two {
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .pagination li {
    width: 22px;
  }
}
