nav#navbar-navigation {
  position: unset;
}
.home {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid var(--Sys-Neutral-Outline, #747a7e);
  margin-bottom: 40px;
}
.home a {
  padding: 8px 0px;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.home i.fa-solid.fa-chevron-right {
  display: inline;
  font-size: 24px;
  color: var(--color-one);
}

.title-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
}

.pages-filter {
  display: flex;
  gap: 10px;
}
.title-filter h4 {
  color: #1b1e1f;
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.pages-filter span {
  color: #1b1e1f;
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.courses-list {
  padding-bottom: 64px;
}
.accordion-item {
  border-radius: 8px !important;
  border: 1px solid #747a7e !important;
  box-shadow: unset !important;
  margin-bottom: 24px;
}
.accordion-button:not(.collapsed) {
  box-shadow: unset;
  border-bottom: 1px solid #747a7e;
}
.accordion-button:focus {
  box-shadow: unset;
}
.accordion-button:focus-visible {
  outline: unset;
}
.accordion-body.two {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.accordion-button {
  color: #1b1e1f !important;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  padding: 12px 16px !important;
  background-color: unset !important;
  border-radius: 8px 8px 0px 0px !important;
}
.accordion-body {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.course-one-page,
.online-course,
.hybrid-one {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid #747a7e;
  background: #fbfeff;
  width: max-content;
  padding: 8px 10px;
  cursor: pointer;
}
.course-one-page span,
.online-course span,
.hybrid-one span {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.course-one-page small,
.online-course small,
.hybrid-one small {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
}

label.form-check-label {
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
  cursor: pointer;
}
.form-check small {
  margin-left: auto;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  position: absolute;
  right: 0;
}
#accordion-check,
#form-check {
  padding: 12px 16px 12px 5px;
}
.form-check {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
}
#form-check {
  gap: 8px;
}
input[type="checkbox"] {
  border-color: var(--color-one);
  margin-top: 0;
  border-radius: 6px !important;
  position: absolute;
  left: 37px;
}
.input-day {
  border-radius: 100px;
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.form-check:hover .input-day {
  background: rgba(11, 57, 84, 0.08);
}
.accordion-header:hover {
  background: rgba(11, 57, 84, 0.08);
  transition: 0.3s;
}
.input-day:focus-visible,
.form-check:focus-visible {
  outline: none;
}
.online-course.active,
.course-one-page.active,
.hybrid-one.active {
  background: var(--color);
  border-color: var(--color);
}
.online-course.active span,
.course-one-page.active span,
.hybrid-one.active span {
  color: #fff;
}
.online-course.active small,
.course-one-page.active small,
.hybrid-one.active small {
  color: #fff;
}
/* ====================================================================== */

/* Styles for the price input container */
.price-input-container {
  width: 100%;
}

.price-input .price-field {
  display: flex;
  flex-direction: column;
}
.price-icon {
  display: flex;
  border-radius: 8px;
  border: 1px solid #747a7e;
  padding: 4px 0px 4px 16px;
}
.price-icon img {
  padding: 8px;
}
.price-field span {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 8px;
}

.price-field input {
  border: none;
  width: 100%;
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  padding: 0;
}

.price-input {
  width: 100%;
  font-size: 19px;
  color: #555;
  padding-top: 22px;
  display: flex;
  gap: 16px;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-check-input {
  cursor: pointer;
}
.form-check-input:checked {
  background-color: #0b3954;
  border-color: unset;
}
.form-check-input:checked .form-check-input:focus {
  border-color: unset;
  box-shadow: unset;
}

.slider-container {
  width: 100%;
}

.slider-container {
  height: 6px;
  position: relative;
  background: #d1eaf9;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  left: 25%;
  right: 15%;
  position: absolute;
  border-radius: 5px;
  background: #0b3954;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -5px;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 70%;
  background: #555;
  pointer-events: auto;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .projtitle {
    width: 100%;
    position: relative;
    right: 26px;
  }

  .price-input {
    flex-direction: column;
    align-items: center;
  }

  .price-field {
    margin-bottom: 10px;
  }
}
/* ====================================================================== */
.col-md-3 {
  padding: 0 24px 0 0;
  border-right: 1px solid #747a7e;
}
.col-md-9 {
  padding: 0 0 0 40px;
}
.card {
  width: 278px;
  margin: 0;
  cursor: pointer;
}
.card-body {
  padding: 16px 0 0 0;
  cursor: pointer;
}
.pagination {
  justify-content: center;
  padding-top: 4px;
  margin: 0;
}

.pagination li {
  margin: 0 4px;
  cursor: pointer;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #747a7e;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1e1f;
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.pagination li.active {
  background-color: var(--color);
  color: #fff;
  border-color: var(--color);
}
i.fa-solid.fa-chevron-right,
i.fa-solid.fa-chevron-left {
  font-size: 14px;
  color: #1b1e1f;
  display: block;
  padding: 0px;
}
