nav#navbar-navigation {
  position: fixed;
  background-color: var(--background-color);
  z-index: 100;
}
.home {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid var(--Sys-Neutral-Outline, var(--color-grey));
  margin-top: 106px;
}
div#home-container {
  height: 39px;
}
.home a {
  padding: 8px 0px;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.4px;
  width: max-content;
  border-bottom: 2px solid transparent;
}
.home a:hover {
  border-bottom: 2px solid var(--color);
}
.home i.fa-solid.fa-chevron-right {
  display: inline;
  font-size: 16px;
  color: var(--color-one);
}
.group-courses {
  background-image: url(../images//Frame.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
  padding: 40px 0;
}
.text-group-courses h5 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.text-group-courses p {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  margin-bottom: 0;
  padding-bottom: 16px;
}
.group-courses-details {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
}
.hours {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hours span {
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.text-group-courses button {
  border-radius: 8px;
  background-color: var(--color) !important;
  color: var(--color-white);
  border: none;
  padding: 12px 24px;
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
}
.text-group-courses button:hover,
.submit button:hover {
  background-color: var(--color);
  box-shadow: 0px 0px 15px 1px rgba(8, 43, 63, 0.5);
}
#col-md-8 {
  width: 61.666667%;
}
.section-group-courses {
  background-image: url("../images/Clip path group.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 40px 0;
  background-attachment: fixed;
}
.all-section-group-courses {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  border-radius: 16px;
}
.text-section-group-courses {
  padding: 24px;
  border-radius: 16px;
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.text-section-group-courses h6 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.text-section-group-courses p {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  margin: 0;
}
.div-three {
  padding: 24px;
  border-radius: 16px;
  background: #d1eaf9;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div-three h6,
.div-four h6,
.div-five h6,
.div-six h6 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.group-one {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 0 0 16px 0;
}
#group-one {
  padding: 0 0 16px 0;
}
.group-one p {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0;
}
.div-four,
.div-five,
.div-six,
.div-seven {
  padding: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: var(--background-color);
  border-radius: 16px;
}
.texts-div-four {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.text-div-four {
  display: flex;
  align-items: center;
  gap: 8px;
}
i.fa-solid.fa-arrow-right {
  font-size: 18px;
  color: var(--color);
}
.text-div-four P {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  margin: 0;
}
.div-five ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.div-five ul li {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.card-div-seven {
  background: #e0e8ec;
  border-radius: 20px;
}
.header-card-seven {
  background: #115882;
  padding: 16px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}
.header-card-seven h6 {
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding-bottom: 8px;
}
.header-card-seven span {
  color: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.content-div-seven {
  padding: 16px 48px 48px 48px;
}
.number-card {
  padding: 16px 0;
  text-align: center;
  border-bottom: 1px solid var(--color-grey);
  margin: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.number-card span {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}
.body-card-seven {
  padding: 16px 0;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.text-body-card-seven {
  display: flex;
  gap: 8px;
}
.text-body-card-seven span {
  color: var(--color-b);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.div-seven h5 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}
.buy-now {
  padding-top: 48px;
  text-align: center;
}
.buy-now button {
  border-radius: 8px;
  background: var(--color);
  padding: 12px 24px;
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
  border: none;
  width: 100%;
}
.buy-now button:hover {
  background-color: var(--color);
  box-shadow: 0px 0px 15px 1px rgba(8, 43, 63, 0.5);
}
#card-div-seven {
  margin-left: 32px;
  border-radius: 20px;
  background: var(--background-color);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.3);
  margin-left: 16px;
}
span.discount {
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 500;
}
.section-group-courses-one {
  margin: 128px 0;
}
.section-group-courses-one h5,
.asked-questions h5 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
  padding-bottom: 24px;
}
.asked-questions h5 {
  padding: 0 24px 24px 24px;
}
.card {
  margin: 0;
  border: 1px solid transparent;
  background-color: transparent;
}

p.card-text {
  padding: 0;
}
.asked-questions {
  padding: 0px 0 128px 0;
}
.accordion-button,
.accordion-body {
  background-color: var(--background-color) !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
.accordion-button::after {
  transition: all 0.5s;
}
.accordion-button:not(.collapsed) {
  background-color: unset;
  box-shadow: unset;
  color: var(--color-b);
}
button.accordion-button {
  padding: 16px 24px;
  color: var(--color-b);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
}
.accordion-body {
  padding: 8px 24px 16px 24px;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
.accordion-item {
  border: unset;
  border-bottom: 1px solid var(--color-grey);
}
.accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}
button.accordion-button.collapsed:hover {
  background-color: #d1eaf9;
}
.section1.text-center {
  margin-bottom: 64px;
}
.our-students h3 {
  padding-top: 30px;
}
.card:hover {
  background-color: transparent;
  transition: 0.3s;
  border: 1px solid var(--color);
}
.card-title {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.card:hover .cost span,
.card:hover .card-text {
  color: var(--color);
}
.table-wrap {
  display: block;
  max-width: 100%;
  text-align: center;
}
table caption {
  padding: 8px;
  text-align: center;
  border: 1px solid var(--color-one);
  border-top: 0px;
  border-radius: 0 0 16px 16px;
  color: #b3261e;
  font-family: var(--font-family);
  font-weight: 600;
}
table {
  border-radius: 16px 16px 0 0;
  border-collapse: separate;
  border-spacing: 1px;
  background-color: var(--color-one);
  width: 100%;
}
th,
td {
  border: 0px solid var(--color-one);
  padding: 8px;
}
th {
  background-color: var(--background-color);
}
thead:first-of-type tr:first-child th:first-child {
  border-radius: 16px 0 0 0;
}
thead:first-of-type tr:first-child th:last-child {
  border-radius: 0 16px 0 0;
}
thead:first-of-type tr:first-child th:only-child {
  border-radius: 16px 16px 0 0;
}
table thead tr:first-child th {
  color: var(--color-white);
  text-align: center;
  background-color: var(--color);
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.fl-table tbody tr:nth-child(odd) {
  background-color: #d1eaf9 !important;
  color: var(--color-b);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
}
.fl-table tbody tr:nth-child(even) {
  background-color: var(--background-color);
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.4px;
}
.form-fixed {
  border-radius: 16px;
  border: 1px solid var(--Sys-Neutral-Outline, var(--color-grey));
  background: var(--Sys-Neutral-Surface, var(--background-color));
  padding: 24px;
  z-index: 97;
  position: fixed;
  top: 165px;
  width: 340px;
  right: 100px;
}
.iti__arrow {
  top: 8px;
}
.title-form-fixed h5 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}
.title-form-fixed span {
  color: var(--color);
  font-size: 32px;
  font-weight: 700;
}
form {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-check-input:focus {
  border-color: var(--color);
  outline: 0;
  box-shadow: unset;
}
input#name,
input#email,
input#mobile,
textarea#messgae {
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  padding: 8px 0 8px 16px;
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  width: 100%;
}
.iti--show-selected-dial-code .iti__selected-flag {
  background-color: transparent;
}
.submit button {
  width: 100%;
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--color);
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
  border: none;
}
.input-day {
  border-radius: 100px;
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
input[type="checkbox"] {
  left: 27px;
}
.col-md-6 {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
.owl-item {
  width: max-content;
}
#home {
  display: none;
}
.items {
  display: flex;
  gap: 8px;
}
#item {
  display: flex;
  gap: 8px;
}

@media (max-width: 1300px) {
  .form-fixed {
    right: 20px;
  }
}
@media (max-width: 1200px) {
  div#div-seven {
    gap: 32px;
  }
  div#card-div-seven {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .form-fixed {
    position: unset;
    width: 100%;
  }
  .div-eight {
    padding: 24px;
  }
  #col-md-8 {
    width: auto;
  }
  div#div-seven {
    gap: 0;
  }
  .section-group-courses-one {
    margin: 64px 0;
  }
  .asked-questions {
    padding: 64px 100px 128px 76px;
  }
  .blog-section {
    padding: 48px 0 24px 0;
  }
}
@media (max-width: 767px) {
  div#div-seven {
    gap: 32px;
  }
}
@media (max-width: 575px) {
  div#home-container {
    padding: 0px;
  }
  .group-courses {
    padding: 40px 16px;
  }
  .text-group-courses h5 {
    font-size: 24px;
    line-height: 36px;
  }
  #home-desktop {
    display: none;
  }
  #home {
    display: block;
    padding: 0 16px;
    z-index: 3;
  }
  .section-group-courses {
    padding: 48px 16px;
  }
  #table-desktop {
    display: none;
  }
  .div-six-table.d-none {
    display: block !important;
  }
  .fl-table tbody tr:nth-child(even) {
    background-color: #d1eaf9 !important;
    color: var(--color-b);
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 24px;
  }
  .fl-table tbody tr:nth-child(odd) {
    background-color: var(--background-color) !important;
    color: var(--color-one);
    font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  #table-two {
    border-radius: 0;
  }
  .div-six,
  div#mySection,
  .div-eight {
    padding: 0;
  }
  .section-group-courses-one {
    padding: 0 16px;
  }
  .asked-questions h5 {
    padding: 0 0 24px 0;
  }
  .asked-questions {
    padding: 0px 16px 128px 16px;
  }
  .blog-section {
    height: auto;
  }
}
