body {
  background-color: var(--background-color);
}
.navbar {
  position: relative !important;
}
section {
  background-image: url(../images/Groupa.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 64px 100px 161px 100px;
}
.text-registration h3 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  margin: 0;
  padding-bottom: 16px;
}
.text-registration p {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  margin: 0;
}
#regForm {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--background-color);
}
.tab-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.tab-title h5 {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin: 0;
}
.tab-title h6 {
  color: var(--color-b);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form-section {
  display: none;
  animation: slideIn 0.5s ease-in-out;
}
.form-section.active {
  display: block;
}
.form-days {
  display: flex;
  gap: 7px;
}
label {
  display: block;
  margin-bottom: 8px;
}
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
.form-label {
  color: var(--color-one);
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 24px;
}
input#name,
input#email,
input#mobile,
.form-select,
input#invoices {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  padding: 8px 0 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  height: 48px;
}
.iti--show-selected-dial-code .iti__selected-flag {
  background-color: transparent;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.col-md-6,
.col-md-4 {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
select {
  padding: 4px 0px 4px 16px;
  border-radius: 8px;
  width: 91px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 48px;
  background-image: url(../images/Icon.svg);
  background-repeat: no-repeat;
  background-position: 75px 12px;
  background-size: 24px;
  cursor: pointer;
  width: 100%;
  color: var(--color-one);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.form-select {
  background-image: url(../images/Icon.svg);
  background-repeat: no-repeat;
  background-position: 257px 12px;
  background-size: 24px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}
#col-md-4 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
#col-md-4-year {
  padding-left: 0;
}
#col-md-4-day {
  padding-right: 0;
}
.date-birth {
  display: flex;
  gap: 8px;
}
.next-step {
  justify-content: end;
  margin-left: auto;
  display: flex;
}
form#step1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
button#nextBtn,
#nextStep {
  padding: 12px 24px;
  border-radius: 8px;
  background: var(--color);
  color: var(--color-white);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
  transition: 0.3s;
  border: none;
}
button#nextBtn:hover {
  background-color: var(--color);
  box-shadow: 0px 0px 15px 1px rgba(8, 43, 63, 0.5);
}
.tt-select {
  position: relative;
}
.tt-select select {
  display: none;
}
.select-selected {
  color: var(--color-one);
  background: var(--color-white);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  padding: 8px 0 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background-color: var(--color-white);
  right: 0;
  z-index: 99;
  width: 100%;
  border-radius: 8px;
  margin-top: 2px;
  max-height: 122px;
  overflow: auto;
  border: 1px solid var(--color-grey);
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
  cursor: pointer;
}
.select-selected:before {
  position: absolute;
  content: "";
  background-image: url(../images/Icon.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 24px;
  right: 8px;
  top: 11px;
}
.select-selected.select-arrow-active:before {
  border: none;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000000 transparent;
  top: 10px;
}
.select-items div {
  padding: 8px;
}
.select-hide {
  display: none;
}
.select-items div:hover {
  background-color: #d1eaf9;
}
.same-as-selected,
.first-value {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.last-value {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div#formprice {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
div#formprice span {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.button-form {
  display: flex;
  justify-content: end;
}
button#prevBtn {
  margin-right: auto;
  background-color: var(--color-white);
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--color-grey);
  color: var(--color);
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.4px;
}
button#prevBtn:hover {
  background-color: transparent;
}
input[type="checkbox"] {
  left: 25px;
}
label.form-check-label {
  margin: 0;
  padding-left: 16px;
}
.form-check-input:focus {
  box-shadow: unset;
  border: 1px solid var(--color);
}
.text-payment {
  display: flex;
  flex-direction: column;
  padding: 4px 16px 0px 16px;
}
.text-payment span {
  color: var(--color-one);
  font-family: var(--font-family);
  letter-spacing: 0.4px;
}
.tab,
.tab-mobile {
  padding: 0;
  border-bottom: 0;
  width: auto;
  cursor: unset;
  font-family: unset;
  text-align: left;
  letter-spacing: unset;
  flex-direction: column;
  gap: 16px;
  display: none;
}
@media (max-width: 1400px) {
  select {
    background-position: 62px 12px;
    padding: 4px 0px 4px 6px;
  }
  #regForm {
    padding: 24px 24px 24px 0;
  }
  .col-xl-6.col-lg-12 {
    padding-left: 0;
  }
}
@media (max-width: 1300px) {
  select {
    background-position: 55px 12px;
  }
}
@media (max-width: 1200px) {
  select {
    background-position: 125px 12px;
    padding: 4px 0px 4px 16px;
  }
  #mobile-row {
    gap: 16px;
  }
  .col-xl-6.col-lg-12 {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
@media (max-width: 1100px) {
  select {
    background-position: 80px 12px;
  }
}
@media (max-width: 992px) {
  #col-lg-7 {
    width: 100%;
  }
  #col-lg-5 {
    width: 100%;
  }
  select {
    background-position: 160px 12px;
  }
  div#gender {
    display: flex;
    gap: 16px;
  }
  section {
    background-image: url(../images/Groupa.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 48px 100px 161px 100px;
  }
}
@media (max-width: 860px) {
  select {
    background-position: 145px 12px;
  }
}
@media (max-width: 768px) {
  select {
    background-position: 131px 12px;
  }
  .tab {
    width: 100% !important;
  }
}
@media (max-width: 715px) {
  select {
    background-position: 100px 12px;
  }
}
@media (max-width: 666px) {
  select {
    background-position: 90px 12px;
  }
}
@media (max-width: 575px) {
  section {
    background-image: unset;
    padding: 48px 0;
  }
  select {
    background-position: 140px 12px;
  }
  .iti__flag {
    background-size: 5762px 20px;
  }
  #regForm {
    padding: 24px 0;
  }
  .mobile-only {
    display: none;
  }
}
@media (max-width: 500px) {
  select {
    background-position: 90px 12px;
  }
}
@media (max-width: 400px) {
  select {
    background-position: 80px 12px;
  }
}
@media (max-width: 320px) {
  select {
    background-position: 63px 12px;
  }
}
